.btn-large {
  padding: 22px 28px;
  font-size: 40px;
  border-radius: 10px;
}
.bg-main {
	color: #fff;
	background-color: #337ab7;
	font-size: 40px;
}
.qt-up {
  padding: 22px 28px;
  font-size: 40px;
  border-radius: 10px;
}