<!DOCTYPE html>
<html lang="en" data-ng-app="reportApp">
<head>
    <meta charset="UTF-8">
    <title>Open</title>
        <link rel="stylesheet" href="../../../scripts/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../../../scripts/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="../../../css/mod.css">
        <link rel="stylesheet" href="../../../scripts/progressbar/ngProgress.css">
        <script src="../../../scripts/moment.js"></script>
        <script src="../../../scripts/angular-1.5.8/angular.min.js"></script>
        <script src="../../../scripts/angular-1.5.8/angular-route.min.js"></script>
        <script src="../../../scripts/angular-1.5.8/angular-cookies.min.js"></script>
        <script src="../../../scripts/ui-bootstrap-tpls-2.1.3.min.js"></script>
        <script src="../../../scripts/chart/Chart.js"></script>
        <script src="../../../scripts/angular-chart/angular-chart.min.js"></script>
        <script src="../../../scripts/progressbar/ngprogress.min.js"></script>
        <script src="../../../scripts/gear.js"></script>
        <script src="scripts/app.js"></script>
</head>
<body class="bg-info" ng-controller = "reportMainController">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                    <a class="navbar-brand" href="..\"> 
                        <span>INTEGRATOR-FX</span>
                        <span class="glyphicon" ng-class="{'circle-red': !model.business.connectionFlag, 'circle-green': model.business.connectionFlag}"></span>
                        <span class="glyphicon" ng-class="{'circle-red': !model.business.connectionFlag, 'circle-green': model.business.connectionFlag}"></span>
                        <span class="glyphicon" ng-class="{'circle-red': !model.business.connectionFlag, 'circle-green': model.business.connectionFlag}"></span>
                    </a>
                    <p class="leading navbar-text"></p>
                    <!--<button type="button" class="btn btn-default navbar-btn"><i class="glyphicon glyphicon-refresh"></i></button>-->
            </div>
        </nav>
<div class="container-fluid">
    <!--<div class="row" ng-controller="ProgressDemoCtrl">
        <div class="col-sm-12">
            <uib-progressbar 
            class="progress-striped active" 
            type="info" 
            animate="true" 
            value="model.business.mainProgress"
            ng-if="model.business.showProgress">
            </uib-progressbar>
        </div>-->
    </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <section>
                    <div ng-controller = "AccordionDemoCtrl">
                        <uib-accordion close-others="oneAtATime">
                            <div uib-accordion-group class="panel-primary" is-open="status.open" is-disabled="status.isFirstDisabled">
                                    <uib-accordion-heading>
                                        <div class="row">
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><i class="pull-left glyphicon glyphicon-calendar"></i></div>

                                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><span>Выбрать период</span></div>
                                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>

                                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><span>Отчет за период</span></div>

                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <div class="row">
                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><span ng-bind ="model.business.currentRequest.leftOpenTime | formatDate"></span></div>
                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><span ng-bind ="model.business.currentRequest.rightOpenTime | formatDate"></span></div>
                                                </div>   
                                            </div>

                                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                            </div>
                                        </div>
                                    </uib-accordion-heading>
                                <div ng-controller="DatepickerPopupDemoCtrl">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p class="input-group">
                                            <input type="text" class="form-control" 
                                            uib-datepicker-popup="{{format}}" 
                                            ng-model="leftDate" 
                                            is-open="popup1.opened" 
                                            datepicker-options="dateOptions" 
                                            ng-required="true" 
                                            close-text="Close" 
                                            alt-input-formats="altInputFormats" />
                                            <span class="input-group-btn">
                                                <button 
                                                    type="button" 
                                                    class="btn btn-default" 
                                                    ng-click="open1()">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                            </p>
                                        </div>

                                        <div class="col-md-4">
                                            <p class="input-group">
                                            <input type="text" 
                                            class="form-control" 
                                            uib-datepicker-popup="{{format}}" 
                                            ng-model="rightDate" 
                                            is-open="popup2.opened" 
                                            datepicker-options="dateOptions" 
                                            ng-required="true" 
                                            close-text="Close" />
                                            <span class="input-group-btn">
                                                <button 
                                                    type="button" 
                                                    class="btn btn-default" 
                                                    ng-click="open2()">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn btn-default" type="button" ng-click="setInterval()">
                                                <i class="glyphicon glyphicon-refresh"></i>
                                                <i class="glyphicon glyphicon-piggy-bank"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div uib-accordion-group class="panel-success"
                                ng-repeat="group in groups">
                                <uib-accordion-heading>
                                    <div class="row">
                                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                            <i class="pull-left glyphicon glyphicon-signal"></i>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                            <span class="pull-left" ng-bind="group.name"></span>
                                        </div>
                                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                        </div>
                                    </div>
                                </uib-accordion-heading>
                                <!--табы-->
                                <div ng-controller="TabsDemoCtrl"> 
                                    <uib-tabset active="activeJustified" justified="true">
                                        <uib-tab index="4" heading="Reject %">
                                            <div ng-controller = "BarCtrl">
                                                <canvas 
                                                    id="bar" 
                                                    class="chart chart-bar" 
                                                    chart-data="group.rejectHitRatioCatalog.data" 
                                                    chart-labels="group.rejectHitRatioCatalog.labels" 
                                                    chart-series="group.rejectHitRatioCatalog.series">
                                                </canvas>
                                            </div>
                                        </uib-tab>
                                        <uib-tab index="0" heading="Объемы провайдеров">
                                            <div ng-controller = "BarCtrl">
                                                <canvas 
                                                    id="bar1" 
                                                    class="chart chart-bar" 
                                                    chart-data="group.distributionReportCatalog.data" 
                                                    chart-labels="group.distributionReportCatalog.labels" 
                                                    chart-series="group.distributionReportCatalog.series">
                                                </canvas>
                                            </div>
                                        </uib-tab>
                                        <uib-tab index="1" heading="Объемы инструментов">
                                            <div ng-controller = "BarCtrl">
                                                <canvas 
                                                    id="bar2" 
                                                    class="chart chart-bar" 
                                                    chart-data="group.instrDistributionCatalog.data" 
                                                    chart-labels="group.instrDistributionCatalog.labels" 
                                                    chart-series="group.instrDistributionCatalog.series">
                                                </canvas>
                                            </div>
                                        </uib-tab>
                                        <uib-tab index="3" heading="Average Deal">
                                            <div ng-controller = "BarCtrl">
                                                <canvas 
                                                    id="bar2" 
                                                    class="chart chart-bar" 
                                                    chart-data="group.averageDealVolumeCatalog.data" 
                                                    chart-labels="group.averageDealVolumeCatalog.labels" 
                                                    chart-series="group.averageDealVolumeCatalog.series">
                                                </canvas>
                                            </div>
                                        </uib-tab>
                                        <!--<uib-tab index="2" heading="Результаты клиентов">
                                            <div ng-controller = "BarCtrl">
                                                <canvas 
                                                    id="bar2" 
                                                    class="chart chart-bar" 
                                                    chart-data="group.clientResultCatalog.data" 
                                                    chart-labels="group.clientResultCatalog.labels" 
                                                    chart-series="group.clientResultCatalog.series">
                                                </canvas>
                                            </div>
                                        </uib-tab>-->
                                    </uib-tabset>
                                </div>
                            </div>
                            <div uib-accordion-group class="panel-primary" is-open="status.isCustomHeaderOpen">
                                <uib-accordion-heading>
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><i class="pull-left glyphicon glyphicon-cog"></i></div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><span>Сервер</span> </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}"></i>
                                        </div>
                                    </div>
                                </uib-accordion-heading>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="input-group input-group-md">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" 
                                                type="button"
                                                ng-click="model.saveCredentials()">IP</button>
                                            </span>
                                            <input type="text"  
                                            class="form-control" 
                                            placeholder = "address" 
                                            ng-model="model.credentials.endPoint"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="input-group input-group-md">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" 
                                                type="button" 
                                                ng-click="model.saveCredentials()">Login</button>
                                            </span>
                                            <input type="text"  class="form-control" placeholder = "login" ng-model="model.credentials.login"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="input-group input-group-md">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" ng-click="model.saveCredentials()">Password</button>
                                            </span>
                                            <input type="text"  class="form-control" placeholder = "password" ng-model="model.credentials.password"/>
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" ng-click="model.appRestart()">Go!</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-accordion>
                    </div>
                </section>
            </div>
        </div>
    </div>

</body>
</html>