<!DOCTYPE html>
<html lang="en" data-ng-app="terminalApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Terminal</title>
		<link rel="stylesheet" href="../scripts/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="../scripts/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css"/>
		<link rel="stylesheet" href="../css/mod.css">
		<link rel="stylesheet" href="../scripts/progressbar/ngProgress.css">
        <script src="../scripts/moment.js"></script>
        <script src="../scripts/angular-1.5.8/angular.min.js"></script>
        <script src="../scripts/angular-1.5.8/angular-route.min.js"></script>
        <script src="../scripts/angular-1.5.8/angular-cookies.min.js"></script>
        <script src ="../scripts/ui-bootstrap-tpls-2.1.3.min.js"></script>
        <script src="../scripts/chart/Chart.min.js"></script>
        <script src="../scripts/angular-chart/angular-chart.min.js"></script>
        <script src="../scripts/progressbar/ngprogress.min.js"></script>
        <script src="../scripts/gear.js"></script>
        <script src="scripts/app.js"></script>
</head>
<body class="bg-info" data-ng-controller="terminalMainController">
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
			</div>
				<a class="navbar-brand" href="..\">
					<span>TERMINAL</span>
						<span class="glyphicon" ng-class="{'circle-red': !model.business.connectionFlag, 'circle-green': model.business.connectionFlag}"></span>
						<span class="glyphicon" ng-class="{'circle-red': !model.business.connectionFlag, 'circle-green': model.business.connectionFlag}"></span>
						<span class="glyphicon" ng-class="{'circle-red': !model.business.connectionFlag, 'circle-green': model.business.connectionFlag}"></span>
				</a>
		</div>
	</nav>
<div class="container-fluid" style = "padding: 1px;">
	<div class="row">
		<div class="col-xs-0 col-sm-0 col-md-7 col-lg-9">
			<div ng-controller ="ChartAccordion">
				<uib-accordion close-others="oneAtATime">
					<div uib-accordion-group class="panel panel-default" is-open="status.isChartOpen">
						<uib-accordion-heading>

							
							<div class="row">
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><i class="pull-left glyphicon glyphicon-signal"></i></div>
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><span ng-bind="model.business.chart.symbol"></span> </div>
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isChartOpen, 'glyphicon-chevron-right': !status.isChartOpen}"></i>
								</div>
							</div>
						</uib-accordion-heading>
						<div class="panel-body paddingleft0">
						<div ng-controller = "TickChart" class ="marginleft-25">
							<canvas 
								id="bar" 
								class="chart chart-line" 
								chart-data="model.business.chart.data"
								chart-labels="model.business.chart.labels" 
								chart-series="model.business.chart.series" 
								chart-options="options"
								chart-dataset-override="datasetOverride" 
								chart-click="onClick">
							</canvas>
						</div>
						</div>
						<div>click row in a table to select another instrument</div>
					</div>
				</uib-accordion>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-5 col-lg-3">
			<div ng-controller ="GroupsAccordion">
				<uib-accordion close-others="oneAtATime">
							<div uib-accordion-group class="panel panel-primary" data-ng-repeat = "(index,value) in model.business.quotes.groups.arr" is-open="status.isGroupOpen">
								<uib-accordion-heading>

								<div class="row">
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><i class="pull-left glyphicon glyphicon-list"></i></div>
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><span data-ng-bind="value.displayName"></span></div>
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isGroupOpen, 'glyphicon-chevron-right': !status.isGroupOpen}"></i>
									</div>
								</div>

								</uib-accordion-heading>
								<div style="margin: -15px -15px -15px;">
									<table class="table table-striped table-condensed table-hover header-fixed">
										<thead>
											<tr>
												<th>
													<!-- <button class="btn btn-default btn-sm" ng-click="value.resort('symbol')">Symbol</button> -->
													<span ng-click="value.resort('symbol')" class ="cursor-pointer">Symbol</span>
												</th>
												<th>
													<span>BID</span>
												</th>
												<th>
													<span>ASK</span>
												</th>
												<th>
													<span>TIME</span>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr data-ng-repeat = "(index,value) in value.arr track by $index" class ="cursor-pointer"  ng-click ="model.business.setchartdata(value.symbol)">
												<td>
													<span data-ng-bind ="value.symbol"></span>
												</td>
												<td>
													<span ng-class="{'qt-u': value.flagBID == 'U','qt-d': value.flagBID == 'D'}" data-ng-bind ="value.BID"></span>
													<!-- <span data-ng-bind ="value.BID"></span> -->
												</td>
												<td>
													<span ng-class="{'qt-u': value.flagASK == 'U','qt-d': value.flagASK == 'D'}" data-ng-bind ="value.ASK"></span>
													<!-- <span data-ng-bind ="value.ASK"></span>  -->
												</td>
												<td><span data-ng-bind ="value.time"></span></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<div uib-accordion-group class="panel panel-primary" is-open="status.isCustomHeaderOpen">
								<uib-accordion-heading>
									<div class="row">
										<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><i class="pull-left glyphicon glyphicon-cog"></i></div>
										<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><span>Сервер</span> </div>
										<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
											<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}"></i>
										</div>
									</div>
								</uib-accordion-heading>
		                            <div class="input-group input-group-md">
		                                <span class="input-group-btn">
		                                    <button class="btn btn-default" 
		                                    type="button"
		                                    ng-click="model.saveCredentials()">IP</button>
		                                </span>
		                                <input type="text"  
		                                class="form-control" 
		                                placeholder = "address" 
		                                ng-model="model.credentials.endPoint"/>
		                            </div>

		                            <div class="input-group input-group-md">
		                                <span class="input-group-btn">
		                                    <button class="btn btn-default" 
		                                    type="button" 
		                                    ng-click="model.saveCredentials()">Login</button>
		                                </span>
		                                <input type="text"  class="form-control" placeholder = "login" ng-model="model.credentials.login"/>
		                            </div>
		                            <div class="input-group input-group-md">
		                                <span class="input-group-btn">
		                                    <button class="btn btn-default" type="button" ng-click="model.saveCredentials()">Password</button>
		                                </span>
		                                <input type="text"  class="form-control" placeholder = "password" ng-model="model.credentials.password"/>
		                                <span class="input-group-btn">
		                                    <button class="btn btn-default" type="button" ng-click="model.appRestart()">Go!</button>
		                                </span>
		                            </div>
							</div>
					</div>
				</uib-accordion>
			</div>
		</div>
	</div>
</div>
</html>