
.btn-large {
  padding: 22px 28px;
  font-size: 40px;
  border-radius: 10px;
}
.bg-main {
	color: #fff;
	background-color: #337ab7;
}
.circle-red {
	width: 14px;
	height: 14px;
	background: red;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}
.circle-green {
	width: 14px;
	height: 14px;
	background: #40FF00;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}
.qt-d{
	border-radius: 3px;
	color: white;
	background-color: red;
	font-size: 14px;
	padding: 3px;
}
.qt-u{
	border-radius: 3px;
	color : black;
	background-color: palegreen;
	font-size : 14px;
	padding : 3px;
}
.qt-n{

}
.nopadding{
	padding: 0px;
}
.fat15{
	margin: -15px;
}
.marginleft-25{
	margin-left: -25px;
}
.paddingleft0{
	padding-left: 0px;
}
.header-fixed {
    width: 100% 
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    max-height: 720px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 25%;
    float: left;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
   color : #686868;
   background-color : #ccc;
}
.cursor-pointer{
	cursor: pointer;
}
