<!DOCTYPE html>
<html lang="en" data-ng-app="terminalApp">
<head>
	<meta charset="UTF-8">
	<title>Terminal</title>
		<link rel="stylesheet" href="../scripts/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
        <script src="../scripts/moment.js"></script>
        <script src="../scripts/angular-1.5.8/angular.min.js"></script>
        <script src="../scripts/angular-1.5.8/angular-route.min.js"></script>
        <script src="../scripts/angular-1.5.8/angular-cookies.min.js"></script>
        <script src ="../scripts/ui-bootstrap-tpls-2.1.3.min.js"></script>
        <script src="../scripts/chart/Chart.js"></script>
        <script src="../scripts/angular-chart/angular-chart.min.js"></script>
        <script src="../scripts/gear.js"></script>
        <script src="scripts/app.js"></script>
</head>
<body data-ng-controller="terminalMainController">
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
				<a class="navbar-brand" href="#">INTEGRATOR-FX</a>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
				<div class="panel panel-primary" data-ng-repeat = "(symbol,value) in model.business.quotes.groups.arr">
					<div class="panel-heading">
						<span data-ng-bind="value.displayName"></span>
					</div>
					<div class="panel-body">
						<table class="table-striped table-condensed">
							<thead>
								<tr>
									<th><span>Symbol</span></th>
									<th><span>BID</span></th>
									<th><span>ASK</span></th>
									<th><span>time</span></th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat = "(symbol,value) in value.arr">
									<td><span data-ng-bind ="value.symbol"></span></td>
									<td><span data-ng-bind ="value.BID"></span></td>
									<td><span data-ng-bind ="value.ASK"></span></td>
									<td><span data-ng-bind ="value.time"></span></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="panel-footer"></div>
				</div>
			</div>
		</div>
		<!--<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<span>Свойства инструментов</span>
					</div>
					<div class="panel-body">
						<table class="table table-striped table-condensed">
							<thead>
								<tr>
									<th><span>Group</span></th>
									<th><span>Symbol</span></th>
									<th><span>CCY1</span></th>
									<th><span>CCY2</span></th>
									<th><span>prec</span></th>
									<th><span>description</span></th>
									<th><span>SL</span></th>
									<th><span>swapLong</span></th>
									<th><span>swapShort</span></th>
									<th><span>contractSize</span></th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat = "(symbol,value) in model.business.tools.arr">
									<td><span data-ng-bind ="value.group"></span></td>
									<td><span data-ng-bind ="value.symbol"></span></td>
									<td><span data-ng-bind ="value.CCY1"></span></td>
									<td><span data-ng-bind ="value.CCY2"></span></td>
									<td><span data-ng-bind ="value.precision"></span></td>
									<td><span data-ng-bind ="value.description"></span></td>
									<td><span data-ng-bind ="value.stopLevel"></span></td>
									<td><span data-ng-bind ="value.swapLong"></span></td>
									<td><span data-ng-bind ="value.swapShort"></span></td>
									<td><span data-ng-bind ="value.contractSize"></span></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="panel-footer"></div>
				</div>
			</div>
		</div>-->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="panel panel-primary" data-ng-repeat = "(symbol,value) in model.business.tools.groups.arr">
					<div class="panel-heading">
						<span data-ng-bind="value.displayName"></span>
					</div>
					<div class="panel-body">
						<table class="table table-striped table-condensed">
							<thead>
								<tr>
									<th><span>Group</span></th>
									<th><span>Symbol</span></th>
									<th><span>CCY1</span></th>
									<th><span>CCY2</span></th>
									<th><span>prec</span></th>
									<th><span>description</span></th>
									<th><span>SL</span></th>
									<th><span>swapLong</span></th>
									<th><span>swapShort</span></th>
									<th><span>contractSize</span></th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat = "(symbol,value) in value.arr">
									<td><span data-ng-bind ="value.group"></span></td>
									<td><span data-ng-bind ="value.symbol"></span></td>
									<td><span data-ng-bind ="value.CCY1"></span></td>
									<td><span data-ng-bind ="value.CCY2"></span></td>
									<td><span data-ng-bind ="value.precision"></span></td>
									<td><span data-ng-bind ="value.description"></span></td>
									<td><span data-ng-bind ="value.stopLevel"></span></td>
									<td><span data-ng-bind ="value.swapLong"></span></td>
									<td><span data-ng-bind ="value.swapShort"></span></td>
									<td><span data-ng-bind ="value.contractSize"></span></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="panel-footer"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><i class="pull-left glyphicon glyphicon-cog"></i></div>
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><span>Сервер</span> </div>
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}"></i>
							</div>
						</div>
					</div>
					<div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="input-group input-group-md">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" 
                                                type="button"
                                                ng-click="model.saveCredentials()">IP</button>
                                            </span>
                                            <input type="text"  
                                            class="form-control" 
                                            placeholder = "address" 
                                            ng-model="model.credentials.endPoint"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="input-group input-group-md">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" 
                                                type="button" 
                                                ng-click="model.saveCredentials()">Login</button>
                                            </span>
                                            <input type="text"  class="form-control" placeholder = "login" ng-model="model.credentials.login"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="input-group input-group-md">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" ng-click="model.saveCredentials()">Password</button>
                                            </span>
                                            <input type="text"  class="form-control" placeholder = "password" ng-model="model.credentials.password"/>
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" ng-click="model.appRestart()">Go!</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
					</div>
					<div class="panel-footer"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>