<!DOCTYPE HTML>
<html lang="en" data-ng-app="showApp">
<head>
  <!-- Тег meta для указания кодировки -->
  <meta charset="utf-8">
  <title>Developer</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="../scripts/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
</head>
<!--body-->
<body>
  <div class="container-fluid">
    <div ng-controller="mainController">
      <div  class="panel panel-primary">
        <div class="panel-heading">
          <button 
              type="button" 
              class="btn btn-default btn-sm" 
              ng-click="market.resort('symbol')">
              <span>Symbol</span>
          </button>

          <span ng-bind="market.name"></span>
          <span>avg(10 sec.) call/second = </span>
          <span ng-bind="callDensity"></span>
          </div>
        <div class="panel-body">
          <table class="table table-striped table-condensed">
            <thead>
              <tr>
                <th>
                  <span>Symbol</span>
                </th>
                <th>Bid</th>
                <th>Ask</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat = "(symbol, value)  in market.quotesArray">
                <td><span ng-bind = "value.symbol"></span></td>
                <td><span ng-bind = "value.BID" ng-style="value.styles['BID']"></span></td>
                <td><span ng-bind = "value.ASK" ng-style="value.styles['ASK']"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="panel-footer">
          <span ng-style="style0" ng-bind="callDensity"></span>
          <span>avg(10 sec.) call/second</span>
        </div>
      </div>

    </div>
  </div>
    
<!--  -->
</body>
  <script src="../scripts/angular-1.5.8/angular.min.js"></script>
  <script src="../scripts/angular-1.5.8/angular-route.min.js"></script>
  <script src="../scripts/angular-1.5.8/angular-cookies.min.js"></script>
  <script src="../scripts/chart/Chart.js"></script>
  <script src="../scripts/angular-chart/angular-chart.min.js"></script>
  <script src ="../scripts/ui-bootstrap-tpls-2.1.3.min.js"></script>
  <script src="../scripts/gear.js"></script>
  <script src="scripts/app.js"></script>
</html>